@using Localization.Web
@using Web.Business
@model Model.DatabaseContext.Location

<div class="modal-content">

    @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "edit" }))
    {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel" class="modal-title">@ViewBag.Titulo</h3>
        </div>
        <div class="modal-body">


            @Html.AntiForgeryToken()

            <div>
                @if (ViewBag.TipoEdicao == "edit" || ViewBag.TipoEdicao == "delete") //Ser for edição, preenche o ID
                {
                    @Html.HiddenFor(model => model.Id)
                }

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Area, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Area, new { @class = "form-control", @maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.Area)
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group ">
                            @Html.Label(" ")
                            @Html.Label(Html.GetDisplayName(x => x.Active).ToString())
                            @Html.CheckBoxFor(model => model.Active, new { @class = "icheck-line-scheme" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group-sm">
                    <button name="Gravar" class="btn btn-success" id="EditSubmit">@ResLabels.Save</button>
                    <button name="Excluir" class="btn btn-warning hidden" id="DeleteSubmit">@ResLabels.ConfirmDelete</button>
                    <input type="button" class="btn btn-danger" id="Cancel" value="@ResLabels.Cancel" data-dismiss="modal" />
                </div>
            </div>
        </div>
    }
</div>

<script>
    var ResLabels_ErrorOccurred = "@ResLabels.ErrorOccurred";
    var Locked = ("@ViewBag.Locked") === "True";
    var TipoEdicao = "@ViewBag.TipoEdicao";
</script>

@Html.Raw(WebFunctions.JavascriptFileImport("~/Resources/scriptViews/Users/_Edit.js"))
@Html.Raw(WebFunctions.JavascriptFileImport("~/Resources/scriptViews/Shared/CrudCommon.js"))
@Html.Raw(WebFunctions.JavascriptFileImport("~/Resources/scriptViews/Shared/DeleteAction.js"))
@Html.Raw(WebFunctions.JavascriptFileImport("~/Resources/scriptViews/Shared/EditAction.js"))
