@using Localization.Web
@using Web.Business

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="modal-title">@ViewBag.Title</h3>
    </div>
    <div class="modal-body">
        @Html.Raw(string.Format(ResLabels.ConfirmLogDelete, ViewBag.LogType.ToUpper(), ViewBag.LogDays))
    </div>
    <div class="modal-footer">
        <div class="btn-group-sm">
            <button class="btn btn-danger" id="DeleteSubmit" type="button">@ResLabels.ConfirmDelete</button>
            <button class="btn btn-warning" data-dismiss="modal">@ResLabels.Cancel</button>
        </div>
    </div>
</div>

<script>
    var ResLabels_ErrorOccurred = "@ResLabels.ErrorOccurred";
</script>
@Html.Raw(WebFunctions.JavascriptFileImport("~/Resources/scriptViews/Logs/_Delete.js"))
